<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <!-- CSS only --->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body style="background-image:url(https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGJvb2tzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);background-size:100%;background-repeat:no-repeat;background-attachment:fixed;padding-top:50px;font-family: monospace">
<nav class="navbar navbar-expand-lg" style="overflow:hidden;background-color:#adb5bd;position:fixed;width:100%;top:0;--bs-navbar-brand-color:#084298;font-size:x-large">
  <a class="navbar-brand" style="padding-left:20px">BOOK RECOMMENDER SYSTEM</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="padding-left:20px" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="padding-left:20px" href="/recommend">RECOMMEND</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
   <div class="row">
     <div class="col-md-12">
       <h1 style="text-align:center; margin-top:20px">POPULAR BOOKS</h1>
     </div>
       <a href="/booktitle">recommend by book title</a>
       <a href="/author">recommend by author</a>
     <a href="/publisher">recommend by publisher</a>
   </div>
 </div>
</body>
</html>